
.navBar Button{
    margin: 0px 5px;
    padding: 9px 9px;
    background: #3a3a3e;
    color: #dae7ec;


}
.navBar Button :hover{
    background: #3a3a3e;
    color: #dae7ec;

}
.secondBox{
    background-color: #0a1211e3 !important;
    color: skyblue;
}